{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container card film-card">
    <div class="col-md-12 pt-4">
      <h1 class="film-title mb-3">{{ film.title }}</h1>
      <p class="film-subtitle">{{ film.genre }} | {{ film.year }}</p>
      <p class="card-text mt-3">{{ film.synopsis | safe }}</p>
      <p> Director: {{ film.director }}</p>
      <!--Need if no chosen image-->
    </div>
    {% if "placeholder" in film.featured_image.url %}
    <img src="{% static 'images/default.jpg' %}" alt="placeholder image">
    {% else %}
    <img src="{{ film.featured_image.url }}" alt="{{ film.title }}">
    {% endif %}
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mt-3 mb-5 review-card">
      <!-- Display count of reviews -->
      <strong class="r-count">
        <i class="far fa-comments"></i> {{ review_count }}
      </strong>
      <!-- Display Reviews -->
      <h4>Reviews:</h4>
      <div class="card-body ">
        <!-- Loop through reviews -->
        {% for review in review %}
        <div class="p-2 reviews mb-5">
          <h3 id="title{{ review.id }}">{{ review.title }}</h3>
          <div id="review{{ review.id }}">
            {{ review.content | safe }}
          </div>
          <br>
          <h5>by {{ review.author }}</h5>
          {{ review.created_on }}
          <!--delete & edit reviews-->
          {% if user.is_authenticated and review.author == user %}
          <button class="btn btn-delete btn-sm" review_id="{{ review.id }}">Delete</button>
          <button class="btn btn-edit btn-sm" review_id="{{ review.id }}">Edit</button>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- new review form -->
    <div class="col-md-4 card mt-3 mb-5 new-rev">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h4>Post your review on the film:</h4>
        <p>Posting as: {{ user.username }}</p>

        <!-- Display messages -->
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <form id="reviewForm" method="POST" style="margin-top: 1.3em;">
          {{ review_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn btn-signup btn-md">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a review</p>
        {% endif %}
      </div>
    </div>
  </div>  
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This review will be deleted permanently. Are you sure you want to delete the review?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/reviews.js'  %}"></script>
{% endblock %}