/*to override default browswer styles*/
/*General styles*/
body {
    font-family: "Hind Madurai", sans-serif;
}

/*base.html*/
/*navbar*/
.navbar{
    background-color: #181c31;
}

.title {
    color: #ffad60;
    font-family: "Paytone One";
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a{
    font-family: "Hind Madurai";
    letter-spacing: 0.6px;
}

.sign-mes{
    position: absolute;
    display: flex;
    color: white;
    align-items: right;
}

.active {
    text-decoration: underline 2px solid #ffad60;
  }

/*footer*/
.dark-bg {
    background-color: #ffad60;
}

/*main bg*/
.main-bg {
    background-color: rgb(235, 239, 255);
}

.card {
    border: #ffad60;
    background-color: white;
}

.card-img-top {
    padding-bottom: 5%;
}

.image-container {
    position: relative;
}

/*index.html*/
.banner{
    height: 500px;
    background: url(../images/western.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover-text {
    text-align: center;
    font-size:17px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.144);
    padding: 0 20% 0;
}

.cover-text h1 {
    font-family: "Paytone One";
    padding-bottom: 2%;
}

.film-button{
    text-decoration: none;
    color: white;
}

.film-button p{
    padding: 1px 1px 1px;
    margin: 3px 1px 3px;
    background-color: #ff004c;
}

.post-link {
    text-decoration: none;
    color: #181c31;
}

.post-link:hover {
    color: #ffad60;
}

.page-link {
    background-color: #181c31;
    color: #ffffff;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.image-flash {
    position: absolute;
    bottom: 10%;
    min-width: 30%;
    background-color: #ffad60;
}

.year {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/*film_detail*/
.masthead {
    position: relative;
    display: inline-block;
    height: vh;
    width: 90%;
    background-color: #181c31;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.scale {
    width: 10%;
    height: auto;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
}

.post-subtitle {
    background-color:#ffad60 ;
    margin: 2%;
    padding: 0.2rem;
    color: rgb(255, 255, 255);
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #ffc343;
}

.btn-like:hover,
.btn-like:active {
    color: #ff9457;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}